@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '../../node_modules/bootstrap/dist/css/bootstrap.css'

body 
  font-family: 'Poppins', sans-serif
      
.navbar
  background-color: #3A3A49  

.section2
  background-color: #E7E7DE



.psection2 
  max-width: 60%        